body {
    display: flex;
    justify-content: center;
    align-items: center;
}


.signup-container{
    padding:5px;
    margin:5px;
    border: 10px solid rgb(7, 199, 20);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 300px;
    max-width: 100%;
    border-radius: 25px;

}

.login-container{
    padding:5px;
    margin: 5px;
    border:10px solid rgb(7, 199, 20);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 300px;
    max-width: 100%;
    position: relative;
    right: 16px;
    height: 386px;
    border-radius: 25px;
}

input{
    border-radius: 25px;
    height: 30px;
    width: 250px;
    text-align: center;
}



button {
    width: 80px;
    height: 30px;
    background-color: rgb(255, 170, 44);
}